/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #######
Fonts
####### */

/* Title font 
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name
.edu-tas-beginner-<uniquifier> {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

/* Date font 
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name
.sometype-mono-<uniquifier> {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    font-weight: 700;
    font-size: 65px !important; 
}
p {
    font-family: "Sometype Mono", monospace;
}


/* #######
Backgrounds
####### */
.wall-bg {
    background-image: url(../img/wall.png);
}
.cork-bg {
    background-image: url(../img/cork.png);
}


/* #######
Corpo
####### */
header {
    min-height: 100px;
}


/* #######
Card
####### */
.myCard {
    position: relative;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}
.myPin {
    position: absolute;
    transform: translate(300%, -75%);
}

/* #######
Hover
####### */
.myCard:hover{
    transform: scale(1.2) rotate(380deg);
    z-index: 2;
}
.myCard:hover .myPin {
    display: none;
}